<div class="flex flex-col gap-1">
  <app-label [inputId]="inputId()" [label]="label()"/>
  <app-input
    [id]="inputId()"
    [type]="inputType()"
    [placeholder]="placeholder()"
    [control]="control()"
  />
  @if (control().touched && control().hasError('required')) {
    <span class="text-red-500 text-xs">Este campo es obligatorio</span>
  } @else if (control().touched && control().hasError('pattern')) {
    <span class="text-red-500 text-xs">{{ patternError() }}</span>
  } @else if (control().touched && control().hasError('minlength')) {
    <span class="text-red-500 text-xs">
      Mínimo {{ control().getError('minlength').requiredLength }} caracteres
    </span>
  } @else if (control().touched && control().hasError('email')) {
    <span class="text-red-500 text-xs">Ingresa un correo electrónico válido</span>
  }
</div>
