<form [formGroup]="form" (ngSubmit)="submit()" class="flex flex-col gap-4">

  <app-form-field
    label="Nombre:"
    inputId="name"
    placeholder="Nombre completo"
    patternError="Este campo debe contener únicamente letras"
    [control]="form.controls.name"
  />
  <app-form-field
    label="Correo electrónico"
    inputId="email"
    inputType="email"
    placeholder="correo@ejemplo.com"
    [control]="form.controls.email"
  />
  <app-form-field
    label="Contraseña"
    inputId="password"
    inputType="password"
    placeholder="••••••••"
    [control]="form.controls.password"
  />

  <div class="mt-15">
    <app-button type="submit" [disabled]="loading() || form.invalid">
      {{ loading() ? 'Registrando...' : 'Registrarse' }}
    </app-button>
  </div>
</form>